html, body {   
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.row1, .row2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
}

.box {
    flex: 1;
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px;
}

.logos {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: blue;
}


#i1, #i2, #i3, #i4, #i5, #i6 {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background-color: green;
} 

#i1 img, #i2 img, #i3 img, #i4 img, #i5 img, #i6 img {
    display: block;
    margin: auto;
    width: 40px;
}

.above-footer { 
    background-color: lightgreen; 
    text-align: center;
    padding: 20px 0;
    color: #003366;
    font-weight: 600;
    font-size: 16px;
}
.below-footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
